/* Фиксированный хедер */
.links-container {
    position: fixed;
    top: 25px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    z-index: 1000;
}

/* Название слева */
.name {
    text-decoration: none;
    color: white;
    font-size: 3vw;
    margin-left: 2%;
}

/* Кнопка "Войти" */
.link-item {
    color: white;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;
    font-size: 24px;
    margin-right: 4%;
    cursor: pointer;
    text-shadow:
            1px 0 black,
            0 -1px black,
            -1px 0 black,
            0 1px black;
}


/* Кнопка шторки */
.open-shutter-button {
    display: none;
    position: fixed;
    top: 25px;
    right: 8%;
    width: 10%;
    text-align: center;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    z-index: 1000;
    font-size: calc(2vw/1.7);
}
